*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}
/* Da 0 a 767px */

@media screen and (max-width: 767px) {

    .col-xs-1{
        width: clac((100% / 12) * 1);
    }
    
}